<a href="https://colab.research.google.com/github/unihong/MS-AI-School/blob/main/20230413_Python%EA%B8%B0%EC%B4%88_05_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Class의 사용법

class MyClass: 
  pass

In [ ]:
print(id(MyClass))

47719104

In [ ]:
class Person : 
  Name = ' Default Name'

  def Print(self):
    print('My Name is {0}'.format(self.Name))

In [ ]:
p1.Name = '윤하'
p1.Print()

My Name is 윤하

In [ ]:
p1 = Person()
p2 = Person()

In [ ]:
p1.Name = '박보검'
p2.Name = '민아'
p1.Print()
p2.Print()

My Name is 박보검
My Name is 민아

In [ ]:
Person.Title = 'New Title'

In [ ]:
#이렇게 하면 나중에 혼란이 온다. 마구잡이로 속성 추가는 안하는게 나음. 
print(p1.Title)
print(p2.Title)

New Title
New Title

In [ ]:
p1.Age = 30

In [ ]:
#일부러 오류
print(p1.Age)
print(p2.Age)

30

AttributeError: ignored

In [ ]:
#Class의 상속
#부모,super
class Person : 
  pass

In [ ]:
#자식,sub
class Student (Person):
  pass

In [ ]:
class Bird:
  pass

In [ ]:
p = Person()
s = Student()

In [ ]:
#isinstance 인스턴스 관계를 확인하는 함수/ object은 다 true,세상의 모든 것은 object에서 시작되었다.
isinstance(p, Person)
isinstance(s, Person)
isinstance(s, object)
isinstance(int, object)

True

In [ ]:
#생성자 소멸자 메소드
class MyClass : 
  def __init__(self):           #생성자
    print('class is created')

In [ ]:
my = MyClass()
del my

class is created

In [ ]:
class Person :
  Name = ''
  Age = 0
  def __init__(self, name, age) : 
    self.Name = name
    self.Age = age
  def __del__(self):
    print('{0} 잘살다 갑니다.'.format(self.Name))

  def PrintName(self) :
    print(self.Name)
    print(self.Age)

In [ ]:
p = Person('황비홍',40)
p.PrintName()
del p

황비홍
40
황비홍 잘살다 갑니다.

In [ ]:
#정적(static) 메소드
class CounterManager:
  InsCount = 0

  def __init__(self):
    CounterManager.InsCount += 1
  def PrintInstanceCount() :               #정적 메소드로 전환
    print('Instance Count : ', CounterManager.InsCount)

  StaticCount = staticmethod(PrintInstanceCount)

In [ ]:
a = CounterManager()
b = CounterManager()
c = CounterManager()

In [ ]:
CounterManager.PrintInstanceCount()  #class 직접 사용하는 것은 금기

Instance Count :  3

In [ ]:
p = CounterManager()
p.StaticCount()

Instance Count :  4

In [ ]:
#상속의 심화
class Person: 

  def __init__(self, name, phone) :
    self.Name = name
    self.Phone = phone

  def PrintInfo(self):
    print('Info(Name : {0}, Phone {1}'.format(self.Name, self.Phone))

  def PrintPersonDate(self):
    print('Person(Name : {0}, Phone {1}'.format(self.Name, self.Phone))

In [ ]:
class Student(Person):
  def __init__(self, name, phone, subject, studentID):
    self.Name  = name
    self.Phone = phone
    self.Subject = subject
    self.StudentID = studentID

In [ ]:
p = Person('박보검', '010-1111-1111')
s = Student('민아', '010-2222-2222', '학생회장', '0001')

In [ ]:
print(p.__dict__)
print(s.__dict__)

{'Name': '박보검', 'Phone': '010-1111-1111'}
{'Name': '민아', 'Phone': '010-2222-2222', 'Subject': '학생회장', 'StudentID': '0001'}

In [ ]:
s.PrintInfo()

Info(Name : 민아, Phone 010-2222-2222

In [ ]:
#책에 안나옴
# 상속관계를 확인
issubclass(Student, Person)

True

In [ ]:
issubclass(Person, Student)

NameError: ignored

In [ ]:
class Student(Person):
  def __init__(self, name, phone, subject, studentID):
    self.Name  = name
    self.Phone = phone
    self.Subject = subject
    self.StudentID = studentID

    Person.__init__(self, name, phone)

  def PrintStudentData(self) :
    print('Student(Name {0}, StudentID {1})'.format(self.Name, self.StudentID))


#덧씌우기
  def PrintPersonData(self):
    print('{0}님의 전공은 {1}'.format(self.Name, self.Subject))

In [ ]:
s = Student('민아', '010-2222-2222', 'Computer', '0001')
s.PrintStudentData()

Student(Name 민아, StudentID 0001)

In [ ]:
#다중 상속 (안하는게 좋다.)

class Tiger : 
  def Jump(self):
    print('호랑이 점프')

In [ ]:
class Lion : 
  def Bite(self):
    print('사자의 물기')

In [ ]:
class Liger(Tiger, Lion) : 
  def play(self) :
    print('라이거의 놀기')

In [ ]:
l = Liger()
print(l.Jump())
print(l.Bite())
print(l.play())

호랑이 점프
None
사자의 물기
None
라이거의 놀기
None

In [ ]:
print('\t 탭 \n 다음줄줄')