<a href="https://colab.research.google.com/github/unihong/MS-AI-School/blob/main/MS_Python_01_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello World')

Hello World

In [3]:
#변수 규칙
a = 3
b = 2
#3a = 4 항상 변수는 문자로 시작해야 한다.
student_count = 200 #가급적 풀 네임으로 짓는다. 옛날과 달리 가독성 중요!
address = ''        #가급적 정확한 영어로 짓는다.
print(a*b, student_count)

6 200

In [4]:
# 대소문자를 구별한다. 
friend = 5
Friend = 11
print(friend)

5

In [5]:
#예약어는 사용할 수 없다. (오류)
for = 1

SyntaxError: ignored

In [6]:
# 숫자형
year = 2023
month = 4
print(year, month)

2023 4

In [8]:
#int = 정수형, str = 문자형
year = 2034
print(type(year)) #type() 데이터의 타입을 확인하는 함수 
year = '이천이십삼년'
print(type(year))

<class 'int'>
<class 'str'>

In [9]:
# 8진수
print(0o10) # 정수 앞에 0o를 붙이면 8진수
print(0b10) # 정수 앞에 0b를 붙이면 2진수
print(0x10) # 정수 앞에 0x를 붙이면 16진수

8
2
16

In [10]:
# 다음은 10진수를 받아서 각 진수로 변환하는 방법 (결과가 문자형)

print(oct(38))  #10진수 38을 8진수로 변환
print(hex(38))  #10진수 38을 16진수로 변환
print(bin(38))  #10진수 38을 2진수로 변환환

0o46
0x26
0b100110

In [11]:
# 파이썬의 정수 타입
print(type(1))  #int
print(type(2**31))  #2의 31승 파이썬 3.0에서 int 형으로 정수형 통합합

<class 'int'>
<class 'int'>

In [13]:
#실수의 표현
print(type(3.14))
print(type(314e-2))
print(type(3-4j))   #복소수
x = 3-4j
print(x.imag)          #imag는 허수부
print(x.real)          #real는 실수부
print(x.conjugate())   #conjuage는 켤레 복소수 확인

<class 'float'>
<class 'float'>
<class 'complex'>
-4.0
3.0
(3+4j)

In [15]:
#원의 넓이
r = 2
circle_area = (r**2) * 3.14
print(circle_area)

#삼각형의 넓이
x =3
y = 4
triangle_area = x * y / 2
print(triangle_area)

12.56
6.0

In [18]:
#문자형 실습
print('Hello world')   #'문자' = 문자
print("Hello world")   #"문자"  = 문자
print("Welcome to 'Python world'")  # ("")큰따옴표 안에 ('')작은따옴표 = ('')작은따옴표

Hello world
Hello world
Welcome to 'Python world'

In [21]:
print('''
항상 진실되게 살아라. 
모든 것은 밝혀진다.
사필귀정
       -우리 아빠

''')

항상 진실되게 살아라.
모든 것은 밝혀진다.
사필귀정
       -우리 아빠

In [22]:
print('\t탭 \n다음줄')

	탭
다음줄

In [26]:
print('py' 'thon')   #'문자' '문자' 가운데 띄어쓰기 없음.
print('py' + 'thon') #'문자'+'문자' 가운데 띄어쓰기 없음.

python
python

In [27]:
print('py' *3)

pypypy

In [28]:
a = 'Python'

In [31]:
print(a[0])  #01234...0부터 센다.
print(a[0+1])  #(+)사용하면 더해진 값이 나옴.
print(a[2])

P
y
t

In [33]:
a[0] = 'A' # index read-only 속성이라 수정은 불가능합니다.

TypeError: ignored

In [43]:
# a = python
# index를 이용해서 범위를 설정할 수 있다. 
print(a[0:1])   #0부터 1의 전 문자 (3번째와 헷갈림 주의!!!!!)
print(a[1:4])   
print(a[:2])    #처음부터 2개 (1번째와 헷갈림 주의!!)
print(a[-2:])   #뒤에서 2개
print(a[:])     #전체
print(a[::2])   #전체에서 앞에서 부터 2개씩 뛰어세기

P
yth
Py
on
Python
Pto

In [45]:
#데이터 타입의 변환
print(str(3.14))   #문자형으로 변환
print(int('49'))   #정수형으로 변환
print(float(23))   #실수형으로 변환환

3.14
49
23.0