<a href="https://colab.research.google.com/github/unihong/MS-AI-School/blob/main/20230417_Python08_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas import Series, DataFrame  # * 는 전체

In [ ]:
fruit = Series([2500,3800,1200,6000], index = ['apple','banana','peer','cherry'])  #Numpy -> Sereis 객체-> Dataframe객체
fruit

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64

In [ ]:
print(fruit.values)
print(fruit.index)

[2500 3800 1200 6000]
Index(['apple', 'banana', 'peer', 'cherry'], dtype='object')

In [ ]:
#Dict 객체를 이용해서 series 객체를 생성하는 방법
fruitData = {'apple':2500, 'banana':3800, 'peer':1200, 'cherry':6000}
print(type(fruitData))
fruit = Series(fruitData)
print(type(fruit))
print(fruit)

<class 'dict'>
<class 'pandas.core.series.Series'>
apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64

In [ ]:
#이름을 지어보기 
fruit.name = 'fruitPrice'
fruit.index.name = 'fruitName'
print(fruit)

fruitName
apple     2500
banana    3800
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [ ]:
# DataFrame 객체
fruitData = {'fruitName' : ['apple','banana','cherry','peer'],'fruitPrice' : [2500,3800,6000,1200],'num':[10,5,3,8] }

In [ ]:
DataFrame(fruitData)

  fruitName  fruitPrice  num
0     apple        2500   10
1    banana        3800    5
2    cherry        6000    3
3      peer        1200    8

In [ ]:
#컬럼 순서 지정하기기
fruitFrame = DataFrame(fruitData, columns= ['fruitPrice', 'num', 'fruitName'])
fruitFrame

   fruitPrice  num fruitName
0        2500   10     apple
1        3800    5    banana
2        6000    3    cherry
3        1200    8      peer

In [ ]:
#컬럼방식
fruitFrame['fruitName']

0     apple
1    banana
2    cherry
3      peer
Name: fruitName, dtype: object

In [ ]:
#속성방식
fruitFrame.fruitName

0     apple
1    banana
2    cherry
3      peer
Name: fruitName, dtype: object

In [ ]:
fruitFrame['Year'] = 2023
fruitFrame

   fruitPrice  num fruitName  Year
0        2500   10     apple  2023
1        3800    5    banana  2023
2        6000    3    cherry  2023
3        1200    8      peer  2023

In [ ]:
varible = Series([4,2,1], index=[0,2,3])
fruitFrame['stock'] = varible
fruitFrame
#null과 숫자0은 다르다.

   fruitPrice  num fruitName  Year  stock
0        2500   10     apple  2023    4.0
1        3800    5    banana  2023    NaN
2        6000    3    cherry  2023    2.0
3        1200    8      peer  2023    1.0

In [ ]:
#데이터 구조에서 항목 삭제하는 방법.
fruit = Series([2500,3800,1200,6000], index=['apple', 'banana','peer','cherrly'])

In [ ]:
new_fruit = fruit.drop('banana')
new_fruit

apple      2500
peer       1200
cherrly    6000
dtype: int64

In [ ]:
fruit

apple      2500
banana     3800
peer       1200
cherrly    6000
dtype: int64

In [ ]:
fruitData['fruitName']

['apple', 'banana', 'cherry', 'peer']

In [ ]:
#####문제제

fruitFame = DataFrame(fruitData, index=fruitData['fruitName'], 
                      columns=['fruitPrice','num'])

In [ ]:
fruitFrame

   fruitPrice  num fruitName  Year  stock
0        2500   10     apple  2023    4.0
1        3800    5    banana  2023    NaN
2        6000    3    cherry  2023    2.0
3        1200    8      peer  2023    1.0

In [ ]:
fruitFrame2 = fruitFrame.drop(['apple', 'cherry'])
fruitFrame2

KeyError: ignored

In [ ]:
fruitFrame.drop('num', axis =1)

   fruitPrice fruitName  Year  stock
0        2500     apple  2023    4.0
1        3800    banana  2023    NaN
2        6000    cherry  2023    2.0
3        1200      peer  2023    1.0

In [ ]:
#복습필요요
#DataFrame 슬라이싱을 해봅시다.
fruitFrame['banana':'cherry']

   fruitPrice  num fruitName  Year  stock
0        2500   10     apple  2023    4.0
1        3800    5    banana  2023    NaN
2        6000    3    cherry  2023    2.0
3        1200    8      peer  2023    1.0

In [ ]:
#데이터의 기본 연산
fruit1 = Series([5,9,10,3],index=['apple', 'banana','peer','cherrly'])

fruit12 = Series([3,2,9,5,10],index=['apple', 'banana','peer','cherrly','Mango'])

In [ ]:
fruit1 + fruit2  #겹치는 것만 나온다.

NameError: ignored

In [ ]:
fruitData1 = {'Ohio': [4,8,3,5], 'Texas':[0,1,2,3]}
fruitData2 = {'Ohio' : [3,0,2,1,7], 'Colorado':[5,4,3,6,0]}
fruitFramea1 = DataFrame(fruitData, colmuns= ['Ohio, 'Texas],
                       indexs = ['apple, 'banana' 'cherry','peer'])
                       index = {'apple', 'banana','o'}]
fruitFramea2 = DataFrame(fruitData, colmuns= ['Ohio, 'Texas],
                       indexs = ['apple, 'banana' 'cherry','peer'])
                       index = {'apple','orange', 'banana','cherry','mango'}]
 fruitFramea2   
fruitFramea1 + fruitFramea2
pgan.core

SyntaxError: ignored

In [ ]:
german_sample[[icnre]]

In [ ]:
german.min()

NameError: ignored

In [ ]:
german.max()

NameError: ignored

In [ ]:
german.mean()
man

NameError: ignored

In [ ]:
german.descibe()

NameError: ignored

In [ ]:
#상관관계 
german = german_sample['Duration of Credit(month)',
                       'Credit Amount',
                       'Age (years)']
german.head()

NameError: ignored

In [ ]:
german.corr()

NameError: ignored

In [ ]:
#핵심 기능 Group By
german = german_sample[['Credit Amount','Type of apartment']]
german.head

NameError: ignored

In [ ]:
german_grouped = german['Crerdit Amount'].groupby(german['Type of apartment'])

NameError: ignored

In [ ]:
german_grouped.mean()

NameError: ignored

In [ ]:
german = german_sample[['Credit Amount','Type of apartment','Purpose']]
german.head()
german_group2 = german['Credit Amount'].groupby(german['purpose'],german['Type of apartment']])
german_group2.mean()

SyntaxError: ignored

In [ ]:
german = german_sample[['Type of apartment',
                        'Sex & Marital Status',
                        'Credit Amount']]
for type, g in german.groupby('Type of apartment'):
  print(g.head())
  print('---------------------------------')

NameError: ignored

In [ ]:
from pandas.core.algorithms import SelectNSeries
import seaborn as sns
planets = sns.load_dataset('planets')

In [ ]:
planets.shape

(1035, 6)

In [ ]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
planets.dropna()

              method  number  orbital_period    mass  distance  year
0    Radial Velocity       1       269.30000   7.100     77.40  2006
1    Radial Velocity       1       874.77400   2.210     56.95  2008
2    Radial Velocity       1       763.00000   2.600     19.84  2011
3    Radial Velocity       1       326.03000  19.400    110.62  2007
4    Radial Velocity       1       516.22000  10.500    119.47  2009
..               ...     ...             ...     ...       ...   ...
640  Radial Velocity       1       111.70000   2.100     14.90  2009
641  Radial Velocity       1         5.05050   1.068     44.46  2013
642  Radial Velocity       1       311.28800   1.940     17.24  1999
649          Transit       1         2.70339   1.470    178.00  2013
784  Radial Velocity       3       580.00000   0.947    135.00  2012

[498 rows x 6 columns]

In [ ]:
pd.read_csv('https://raw.githu')